/* Color Palette */

:root {
    --primary: #FE395C;
    --black: rgb(0, 0, 0); // Black color defined in RGB for use in RGBA
    --dark-grey: #222222;
    --light-grey: #918E9B;
    --white: #FFFFFF;
}